PORT=8000
NODE_ENV=development
ORIGIN_FRONTEND=http://localhost:3000
BASE_URL=http://localhost:8000
APP_NAME=__PROJECT_NAME__
DB_URL=postgres://postgres:postgres@localhost:5432/__PROJECT_NAME__
ACCESS_SECRET=change-this-access-secret
REFRESH_SECRET=change-this-refresh-secret
SALT=10
